
<h1>This is the not implemented Static Pages Root</h1>

<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <div id='navbar'></div>
    <div id='content'></div>

    <div class='nav'>
    </div>

  </body>
</html>
