<div class="static-page-root">
  <div id='navbar'></div>
  <div id='content'></div>
  <div id='footer'></div>
</div>

<script>
  // Pull rails level data into Javascript.
  Cosmo.CURRENT_USER_ID = <%= current_user.id %>;
</script>
