<div class="login">
  <%= render 'shared/navbar' %>

  <%= render 'shared/user',
    header: 'Sign In',
    url: session_url,
    method: 'POST',
    user: @user,
    submit: 'Sign In',
    target: ''
  %>
</div>
