<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small>We're the dating site about nothing!</small>
            </h1>
            <p>We get it.  City life is busy.  The cosmopolitan pace of life leaves little time for leisure, let alone dating.  Figuring out which partner to choose based off of a laundry list of pre-requisites, who has the time.  That's why we've created Cosmo-Connect, the dating site about nothing.  You can fill out all this information into your profile, but it doesn't really matter anyway.  Nobody reads those things.  In fact, why are you still reading this paragraph?  (Scoff, overacheiver.)  Browse users, like them, see if they like you back, send them messages.  The ball is in your court.</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="images/kramer.jpg" alt="Cosmo Kramer">
            <h3>Cosmo Kramer
                <small>Founder/President</small>
            </h3>
            <p>Before founding Cosmo-connect, Kramer's ventures included Cramerica, and dail-a-movie service.  He doesn't pay taxes because he has no income.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="images/chiles.jpg" alt="Jackie Chiles">
            <h3>Jackie Chiles
                <small>Legal Advisor</small>
            </h3>
            <p>What does this team member to? Well, nothing.  He just sued all the other dating sites until there was no more competition.  He can do the same for your business to, at a reasonable fee.</p>
        </div>
    </div>

    <hr>

</div>
<!-- /.container -->
