<div class="m-background"></div>

<div class='m-content'>
	<form>
		<input
				type='hidden'
				name='message[receiver_id]'
				value="<%= other_user.escape('id') %>"
		>
		<div class="row">
			<div class="col-xs-1">
				<button name=”button”>&times;</button>
			</div>
			<div class="col-xs-11">
			</div>
		</div>
		<div class="row">
			<input type='text' name='message[body]' value="">
		</div>
		<div class="row">
			<input type='submit', class='btn btn-primary' value='Submit'>
		</div>
	</form>
</div>
