<div class="message-index-wrapper list-group">
  <div class="row" align="center">
    <h1 class="page-header"><%= title %><br>
      <small><%= description %></small>
    </h1>
  </div>
  <div class="row" id="message-index-results">
  </div>
</div>
