<center><h2>Details</h2></center>
<table class="table table-striped">
  <tr id="user-info-birthdate">
    <td>
      <label>Date Of Birth</label>
    </td>
    <td>
      <input class="new-user-input-item" type="year" placeholder="YYYY" name="birthdate[year]">
      <input class="new-user-input-item" type="text" placeholder="MM" name="birthdate[month]">
      <input class="new-user-input-item" type="text" placeholder="DD" name="birthdate[day]">
    </td>
  </tr>

  <tr id="user-info-gender">
    <td>
      <label>Gender</label>
    </td>
    <td>
      <span class="new-user-input-item gender_identity">
        <input type="radio" name="gender_identity" value="1">&nbsp;man
      </span>
      <span class="new-user-input-item">
        <input type="radio" name="gender_identity" value="2">&nbsp;woman
      </span>
      <span class="new-user-input-item">
        <input type="radio" name="gender_identity" value="3">&nbsp;other
      </span>
    </td>
  </tr>

  <tr id="user-info-interested-in">
    <td>
      <label>Interested In</label>
    </td>
    <td>
      <span class="new-user-input-item gender_interest">
        <input type="checkbox" name="gender_interest" value="1">&nbsp;men
      </span>
      <span class="new-user-input-item">
        <input type="checkbox" name="gender_interest" value="2">&nbsp;women
      </span>
      <span class="new-user-input-item">
        <input type="checkbox" name="gender_interest" value="3">&nbsp;other
      </span>
    </td>
  </tr>

  <tr id="user-info-ages">
    <td>
      <label>Ages</label>
    </td>
    <td>
      <input class="new-user-input-item" type="text" placeholder="YY" id="min_age">
      <span> to </span>
      <input class="new-user-input-item" type="text" placeholder="YY" id="max_age">
    </td>
  </tr>

  <tr id="user-info-religion">
    <td>
      <label>Religion</label>
    </td>
    <td>
      &nbsp;Festivus
    </td>
  </tr>

  <tr id="user-info-relationship-status">
    <td>
      <label>Relationship Status</label>
    </td>
    <td>
      &nbsp;Single
    </td>
  </tr>

  <tr id="user-info-body-type">
    <td>
      <label>Body Type</label>
    </td>
    <td>
      &nbsp;Average
    </td>
  </tr>

  <tr id="user-info-ethnicity">
    <td>
      <label>Ethnicity</label>
    </td>
    <td>
      &nbsp;White
    </td>
  </tr>
</table>
