<div>
  <div class="user-index-wrapper list-group">
    <div class="row" align="center">
      <h1 class="page-header"><%= title %><br>
        <small><%= description %></small>
      </h1>
    </div>
    <div class="row" id="user-index-results">
      <center><h2>No Results So Far...</h2></center>
    </div>
  </div>
</div>
