<div class="container user-profile">
    <div class="user-preview"></div>
    <div class="row">
      <div class="col-md-10">
      </div> <!-- End User Details -->

    </div> <!-- End Profile First Row -->

    <div class="row">
      <div class="col-md-6">
        <div class="response-index col-md-12"></div>
        <div class="col-xs-12"></div>
      </div>

      <div class="col-md-6">
        <div class="col-md-12 user-attributes">
          <% if (!user.isCurrentUser) { %>
            <center>
              <h2><a href="<%= '#/messages/' + user.escape('id') %>">Message History</a></h2></center>
            <form id="new-message" class="form-horizontal">
              <div class="form-group">
                <div class="col-xs-12">
                  <center><label>
                    <span class="glyphicon glyphicon-envelope"></span>
                    Send Message to <%= user.escape('username') %>
                  </center><label>
                </div>

                <div class="col-xs-12">
                  <input  type="hidden"
                          name="message[receiver_id]"
                          value="<%= user.id %>">
                  <textarea
                      type="textarea"
                      name= "message[body]"
                  ></textarea>
                </div>
              </div> <!-- End .form-group -->

              <div class="form-group">
                <div class="col-xs-12">
                  <input type='submit', class='btn btn-primary' value='Send'>
                  <button id="cancel-message" type='cancel' class="btn btn-default">Cancel</button>
                </div>
              </div>

            </form>

            <div id="message-history">
            </div>

          <% } else { %>

            <center><h2>Details</h2></center>
            <table class="table table-striped">
                <tr id="user-info-birthdate">
                  <td>
                    <label>Date Of Birth</label>
                  </td>
                  <td>
                    <input class="new-user-input-item" type="year" placeholder="YYYY" name="birthdate[year]">
                    <input class="new-user-input-item" type="text" placeholder="MM" name="birthdate[month]">
                    <input class="new-user-input-item" type="text" placeholder="DD" name="birthdate[day]">
                  </td>
                </tr>

                <tr id="user-info-gender">
                  <td>
                    <label>Gender</label>
                  </td>
                  <td>
                    <span class="new-user-input-item gender_identity">
                      <input type="radio" name="gender_identity" value="1">&nbsp;man
                    </span>
                    <span class="new-user-input-item">
                      <input type="radio" name="gender_identity" value="2">&nbsp;woman
                    </span>
                    <span class="new-user-input-item">
                      <input type="radio" name="gender_identity" value="3">&nbsp;other
                    </span>
                  </td>
                </tr>

                <tr id="user-info-interested-in">
                  <td>
                    <label>Interested In</label>
                  </td>
                  <td>
                    <span class="new-user-input-item gender_interest">
                      <input type="checkbox" name="gender_interest" value="1">&nbsp;men
                    </span>
                    <span class="new-user-input-item">
                      <input type="checkbox" name="gender_interest" value="2">&nbsp;women
                    </span>
                    <span class="new-user-input-item">
                      <input type="checkbox" name="gender_interest" value="3">&nbsp;other
                    </span>
                  </td>
                </tr>

                <tr id="user-info-ages">
                  <td>
                    <label>Ages</label>
                  </td>
                  <td>
                    <input class="new-user-input-item" type="text" placeholder="YY" id="min_age">
                    <span> to </span>
                    <input class="new-user-input-item" type="text" placeholder="YY" id="max_age">
                  </td>
                </tr>

                <tr id="user-info-religion">
                  <td>
                    <label>Religion</label>
                  </td>
                  <td>
                    &nbsp;Festivus
                  </td>
                </tr>

                <tr id="user-info-relationship-status">
                  <td>
                    <label>Relationship Status</label>
                  </td>
                  <td>
                    &nbsp;Single
                  </td>
                </tr>

                <tr id="user-info-body-type">
                  <td>
                    <label>Body Type</label>
                  </td>
                  <td>
                    &nbsp;Average
                  </td>
                </tr>

                <tr id="user-info-ethnicity">
                  <td>
                    <label>Ethnicity</label>
                  </td>
                  <td>
                    &nbsp;White
                  </td>
                </tr>

              </table>

          <% } %>
        </div>
      </div>
    </div> <!-- End Profile Second Row (Essays and Attributes) -->

    <div class="user-info-modal"></div>

</div>
