<div class="container user-profile">
    <div class="user-preview"></div>

    <div class="row">
        <div class="response-index col-xs-12 col-sm-6"></div>
        <div class="user-attributes col-xs-12 col-sm-5 col-xs-offset-0 col-sm-offset-1"></div>
    </div> <!-- End Profile Second Row (Essays and Attributes) -->

    <div class="user-info-modal"></div>

</div>
