<div class="container user-profile">
    <div class="row">
      <div class="col-xs-3 col-md-2">
        <a href="#" class="thumbnail">
          <img
            width=100px height=100px
            src="https://pbs.twimg.com/profile_images/514184325860827136/2hIxF0Hn.jpeg"
            alt="Lumbergh.  He's my boss.  My disgusting, PIG OF A BOSS!"
          ></a>
      </div> <!-- End Thumbnail -->

      <div class="col-xs-6">
        <h3 valign="center"><%= user.escape('username') %></h3>
        <h3 valign="center"><%= user.escape('gender') + ', ' + user.escape('age') %></h3>
      </div>

    </div> <!-- End Profile First Row -->

    <div class "row">
      <div class="col-xs-6 col-md-4">
        <h2>Essay Questions</h2>
        <p><%= user.responses() %></p>
      </div>
      <div class="col-xs-6 col-md-4">
        <h2>Attributes</h2>
      </div>
    </div> <!-- End Profile Second Row (Essays and Attributes) -->

</div>
