<div class="container user-profile">
    <div class="user-preview"></div>
    <div class="row">
      <div class="col-md-10">
      </div> <!-- End User Details -->

    </div> <!-- End Profile First Row -->

    <div class="row">
        <div class="response-index col-xs-12 col-md-6"></div>
        <div class="user-attributes col-xs-12 col-md-6"></div>
      </div>
    </div> <!-- End Profile Second Row (Essays and Attributes) -->

    <div class="user-info-modal"></div>

</div>
