<div class="login">
  <%= render 'shared/navbar' %>

  <%= render 'shared/user',
    header: 'Sign Up',
    method: 'GET',
    url: '#',
    user: @user,
    submit: 'Sign Up',
    target: '#newUserModal'
  %>

  <%= render 'shared/new_user_modal', user: @user %>

</div>
