<footer class="row-footer">
    <div class="container">
    <div class="row">
            <div class="col-xs-2 col-xs-offset-3
                        col-sm-2 col-sm-offset-1
                        col-md-1 col-md-offset-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/aboutus.html">About</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="/contactus.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-5 col-xs-offset-1
                        col-sm-3 col-sm-offset-1
                        col-md-3 col-md-offset-2">
                <h5>Our Address</h5>
            <address>
              121, Clear Water Bay Road<br>
              Clear Water Bay, Kowloon<br>
              HONG KONG<br>
              <i class="fa fa-phone" alt="phone"></i>: +852 1234 5678<br>
              <i class="fa fa-fax" alt="fax"></i>: +852 8765 4321<br>
              <i class="fa fa-envelope" alt="email"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
           </address>
            </div>
            <div class="col-xs-8 col-xs-offset-2
                        col-sm-5 col-sm-offset-0
                        col-md-4 col-md-offset-0">

                <div style="padding: 40px 0px 0px 0px;">
                  <p align=center>
                    <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                  </p>
                </div>
            </div>

            <div class="col-xs-2 col-xs-offset-0
                        col-sm-0 col-sm-offset-0">
            </div>

            <div class="col-xs-8  col-xs-offset-2
                        col-sm-8  col-sm-offset-2
                        col-md-12 col-md-offset-0">
                <p style="padding:10px 50px;" align=center>
                  © Copyright 2015 Ristorante Con Fusion
                </p>
            </div>
        </div>
    </div>
</footer>
