<td>
  <label>Gender</label>
</td>
<td>
  <span class="new-user-input-item gender_identity">
    <input type="radio" name="gender_identity" value="1">&nbsp;man
  </span>
  <span class="new-user-input-item">
    <input type="radio" name="gender_identity" value="2">&nbsp;woman
  </span>
  <span class="new-user-input-item">
    <input type="radio" name="gender_identity" value="3">&nbsp;other
  </span>
</td>
