<% month = ['NA','January','February','March','April','May','June','July','September','October','November','December'] %>

<td>
  <label>Date Of Birth</label>
</td>
<td class="details-item-value">
  <% if (editMode) { %>
    <form id="details-form" name="birthdate">
      <input class="new-user-edit-item" type="text" placeholder="MM" name="birthdate[month]" value="<%= value.month %>">
      <input class="new-user-edit-item" type="text" placeholder="DD" name="birthdate[day]" value="<%= value.day %>">
      <input class="new-user-edit-item" type="year" placeholder="YYYY" name="birthdate[year]" value="<%= value.year %>">
      <button type="submit" class="details-submit btn btn-primary btn-sm editable-submit"><i class="glyphicon glyphicon-ok"></i></button>
      <button type="button" class="details-cancel btn btn-default btn-sm editable-cancel"><i class="glyphicon glyphicon-remove"></i></button>
    </form>
  <% } else { %>
      <span>&nbsp;<%= month[value.month] + ', ' + value.day + ', ' + value.year %></span>
      <a class="user-details-edit-icon" data-toggle="modal" data-target="#myModal">
        &nbsp;<span class="edit-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a>
  <% } %>
</td>
