<td>
  <label>Date Of Birth</label>
</td>
<td class="details-item-value">
  <% if (editMode) { %>
    <form>
      <input class="new-user-input-item" type="year" placeholder="YYYY" name="birthdate[year]" value="<%= value.year %>">
      <input class="new-user-input-item" type="text" placeholder="MM" name="birthdate[month]" value="<%= value.month %>">
      <input class="new-user-input-item" type="text" placeholder="DD" name="birthdate[day]" value="<%= value.day %>">
    </form>
  <% } else { %>
      <span>&nbsp;<%= value.month + '/' + value.day + '/' + value.year %></span>
  <% } %>
</td>
