<% if (desire.get('interested')) { %>
  <button class="btn btn-success toggle">
    <%= desire.escape('plural') %>
  </button><br>
<% } else { %>
  <button class="btn btn-primary toggle">
    <%= desire.escape('plural') %>
  </button><br>
<% } %>
