<div class="login">

  <%= render 'shared/navbar' %>

  <!-- Page Content -->
  <div class="container about-us">

      <!-- Introduction Row -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">About Us
                  <small>We're the dating site about nothing!</small>
              </h1>
              <p>We get it.  City life is busy.  The cosmopolitan pace of life leaves little time for leisure, let alone dating.  Figuring out which partner to choose based off of a laundry list of pre-requisites, who has the time.  That's why we've created Cosmo-Connect, the dating site about nothing.  You can fill out all this information into your profile, but it doesn't really matter anyway.  Nobody reads those things.  In fact, why are you still reading this paragraph?  (Scoff, overacheiver.)  Browse users, like them, see if they like you back, send them messages.  The ball is in your court.</p>
          </div>
      </div>

      <!-- Team Members Row -->
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Our Team</h2>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <center>
                <img class="img-circle img-responsive img-center" src="images/kramer.jpg" alt="Cosmo Kramer">
              </center> <!-- Yes, I'm styling on the HTML page.  I hate myself too. -->
              <h3>Cosmo Kramer
                  <small>Founder/President</small>
              </h3>
              <p>Before founding Cosmo-connect, Kramer's ventures included Cramerica, and dail-a-movie service.  He doesn't pay taxes because he has no income.</p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <center>
                <img class="img-circle img-responsive img-center" src="images/chiles.jpg" alt="Jackie Chiles">
              </center>
              <h3>Jackie Chiles
                  <small>Legal Advisor</small>
              </h3>
              <p>Jackie Chiles made Cosmo-Connect the #1 dating site by suing every competitor until there were none left.  He can do the same for your business too, at a reasonable fee.</p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <center>
                <img class="img-circle img-responsive img-center" src="images/vandelay.jpg" alt="Art Vandelay">
              </center>
              <h3>Art Vandelay
                  <small>Lead Architect</small>
              </h3>
              <p>Vandelay came to Cosmo-Connect after spending 20 years as an importer exporter.  Importing and exporting either potato chips, matches, or diapers, accounts vary.</p>
          </div>

      </div>

      <hr>

  </div>
  <!-- /.container -->

</div>
