<div class='m-content'>
	<form>
		<button name=”button”>&times;</button>
		<input  class=”textfield”></input> // Worst possible class name
		<input type='text', name = 'tweet[body]'>
		<input type='submit', class='btn btn-primary' value='Create Tweet'>
	</form>
</div>
