<div class="m-background"></div>

<div class="m-content">
	<form id="essay-form">
		<input
				type='hidden'
				name='response[response_category_id]'
				value="<%= response.escape('response_category_id') %>"
		>

		<div class="row">
			<div class="col-xs-12">
				<p><b><%= response.escape('title') %></b></p>
			</div>
		</div>

		<div class="row">
			<input style="height:100px;width:200px;valign:top"
					type="textarea"
					name= "response[body]"
					value="<%= response.escape('body') %>"
			>
		</div>
		<br>
		<div class="row">
			<input type='submit', class='btn btn-primary' value='Submit'>
		</div>
	</form>
</div>
