<div class="m-background"></div>

<div class="m-content">
	<h4><%= response.escape('title') %></h4>

	<form id="essay-form" class="form-group">
		<input
				type='hidden'
				name='response[response_category_id]'
				value="<%= response.escape('response_category_id') %>">

		<textarea class="form-control" type="textarea" name= "response[body]"><%= response.escape('body') %></textarea>

		<br>
		<input type='submit', class='btn btn-primary form-group' value='Submit'>

	</form>
</div>
