<div class="m-background"></div>

<div class='m-content'>
	<form>
		<div class="row">
			<div class="col-xs-1">
				<button name=”button” style="border: 0px">&times;</button>
			</div>
			<div class="col-xs-11">
				<p><b>EssayQuestionTitle</b></p>
			</div>
		</div>
		<div class="row">
			<input type='text' name='tweet[body]'>
		</div>
		<div class="row">
			<input type='submit', class='btn btn-primary' value='Submit'>
		</div>
	</form>
</div>
