<div class="row response-index-item-title">
  <%= essay.escape('title') %>
  <% if (user.isCurrentUser) { %>
    <a class="essay-edit" data-toggle="modal" data-target="#myModal">
      <span class="edit-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>&nbsp;
  <% } %>
</div>

<div class="row">
    <% if (!editMode) { %>
      <div class="col-xs-12 response-index-item-body no-edit"><%= essay.escape('body') || '(none)' %></div>
    <% } else { %>
        <div class="col-xs-12 response-index-item-body">
          <form id="essay-form">
            <input
                type='hidden'
                name='response[response_category_id]'
                value="<%= essay.escape('response_category_id') %>">
            </input>

            <textarea
                type="textarea"
                name= "response[body]"><%= essay.escape('body') %></textarea>

            <br>
            <input type='submit', class='essay-submit btn btn-primary' value='Save'>
            <button type='cancel' class="essay-cancel btn btn-default">Cancel</button>

         </form>
       </div>
    <% } %>
</div>
