<div class='list-group-item'>
  <div class="row response-index-item-title">
    <b><center><%= essay.escape('title') %></center></b>
  </div>
  <div class="row">
    <div class="col-xs-10 response-index-item-body">
      <%= essay.escape('body') || '(none)' %>
    </div>
    <div class="col-xs-2" valign="bottom">
      <button class="essay-edit btn btn-xs btn-danger pull-right">edit</button>
    </div>
  </div>

</div>
